@tailwind base;
@tailwind components;
@tailwind utilities;




/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: none;
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightslategray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}




.wvu-breadcrumbs li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
}

.wvu-breadcrumbs li::before {
    content: "/";
    padding-right: 5px;
    padding-left: 5px;
}

.wvu-breadcrumbs li:first-child::before {
    content: "";
    padding-right: 0;
}